streamlit
opencv-python
ultralytics
attrs
av      
blinker 
boto3    
botocore 
branca         
cachetools        
certifi            
charset-normalizer      
click      
colorama    
contourpy      
cycler          
defusedxml         
filelock             
folium                
fonttools                
fsspec 
gitdb     
geocoder
GitPython 
idna        
importlib-metadata 
Jinja2              
jmespath               
jsonschema              
jsonschema-specifications
kiwisolver   
markdown-it-py 
MarkupSafe       
matplotlib         
mdurl                
mpmath                 
networkx               
numpy                   
opencv-python    
opencv-python-headless
packaging     
pandas           
pillow            
pip                
protobuf              
psutil                 
py-cpuinfo   
pyarrow         
pydeck           
Pygments          
pyparsing         
python-dateutil        
pytz                    
PyYAML              
referencing          
requests                
rich                    
rpds-py            
s3transfer            
scipy                  
seaborn                   
setuptools
six       
smmap         
streamlit    
streamlit-folium  
streamlit-lottie   
supervision           
sympy                  
tenacity               
thop       
toml        
toolz       
torch            
torchvision        
tornado             
tqdm                   
typing_extensions        
tzdata
tzlocal
ultralytics
urllib3      
validators     
watchdog         
xyzservices        
zipp                
